@{
    ViewData["Title"] = "الصفحة الرئيسية";
    Layout = "~/Views/Shared/_StrudentLayout.cshtml";
}

<h3>أهلا، منور @User.FindFirst("Name").Value</h3>

<div class="row">
    <div class="col-md-4">
        <div class="card">
        <div class="card-header mx-4 p-3 text-center">
            <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
            <i class="fas fa-landmark opacity-10"></i>
            </div>
        </div>
        <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">حسابك البنكي</h6>
            @*<span class="text-xs">Belong Interactive</span>*@
            <hr class="horizontal dark my-3">
            <h5 class="mb-0">@ViewBag.MoneyTotal</h5>
        </div>
        </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-4">
        <div class="card">
        <div class="card-header mx-4 p-3 text-center">
            <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
            <i class="fas fa-star opacity-10"></i>
            </div>
        </div>
        <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">نقاطك</h6>
            <hr class="horizontal dark my-3">
            <h5 class="mb-0">@ViewBag.PointsTotal</h5>
        </div>
        </div>
    </div>
    <div class="col-6 col-md-2 mt-md-0 mt-4">
        <div class="card">
            <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
                <i class="fas fa-users opacity-10"></i>
                </div>
            </div>
            <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">النقاط الجماعية</h6>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">@ViewBag.groupPoints</h5>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-2 mt-md-0 mt-4">
        <div class="card">
            <div class="card-header mx-4 p-3 text-center">
                <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg">
                <i class="fas fa-user opacity-10"></i>
                </div>
            </div>
            <div class="card-body pt-0 p-3 text-center">
                <h6 class="text-center mb-0">النقاط الفردية</h6>
                <hr class="horizontal dark my-3">
                <h5 class="mb-0">@ViewBag.individualPoints</h5>
            </div>
        </div>
    </div>
</div>

@*
<h4>تاريخ النقاط</h4>
<table class="table">
    <tr>
        <th>
            البند
        </th>
        <th>
            القيمة
        </th>
        <th>
            التاريخ
        </th>
    </tr>
    @foreach(var item in @ViewBag.pointsLog)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @item.CreatedAt
            </td>
        </tr>
    }
</table>


<h4>تاريخ المال</h4>
<table class="table">
    <tr>
        <th>
            المبلغ
        </th>
        <th>
            البند
        </th>
        <th>
            من
        </th>
        <th>
            الى
        </th>
        <th>
            التاريخ
        </th>
    </tr>
    @foreach(var item in @ViewBag.moneyLog)
    {
        <tr>
            <td>
                @item.Amount
            </td>
            <td>
                @item.PointName
            </td>
            <td>
                @item.From
            </td>
            <td>
                @item.To
            </td>
            <td>
                @item.CreatedAt
            </td>
        </tr>
    }
</table>*@